.spaced-container {
    -fx-border-width: 0.0;
    -fx-padding: 1.166666em;
    -fx-spacing: 3em;
}

.section {
    -fx-padding: 0 0 2em 0;
}

.autopo-container {
    -fx-border-width: 0.0;
    -fx-padding: 0.666667em;
}

/**
 * Footer
 */
.footer {
    -fx-background-color: -color-border-muted, -color-bg-subtle;
    -fx-background-insets: 0, 1px 0 0 0;
    -fx-padding: 1px 10px 0 10px;
    -fx-alignment: center-left;
}

/**
 * Search field
 */
.search-field.small {
    -fx-padding: 1px 2px 1px 8.5714285714px;
    -fx-font-size: 1em;
}

.search-field .search-dismiss:hover {
    -fx-background-color: -color-button-border, -color-button-bg;
    -fx-opacity: 0.7;
}

.search-field:right-node-visible .right-pane {
    -fx-padding: 0 0 0 4px;
}

.search-field:left-node-visible .left-pane {
    -fx-padding: 0 0 0 6px;
}

/**
 * Translations toolbar
 */
.translations-toolbar {
    -fx-alignment: center-left;
}

.translation-edit-toolbar {
    -fx-background-color: -color-border-muted, -color-bg-subtle;
    -fx-background-insets: 0, 1px 0 1px 0;
    -fx-alignment: center-left;
    -fx-padding: 4px 10px;
}

/**
 * About panel
 */
.about-panel .section .label, .about-panel .section .hyperlink {
    -fx-font-size: 1.166666em;
    -fx-padding: 0;
}

/**
 * Placeholder panel
 */
.placeholder-pane {
    -fx-alignment: center;
}

/**
 * Settings panel
 */
.settings-panel, .project-settings-panel {
    -fx-hgap: 1em;
    -fx-vgap: 1em;
}

/**
 * Log
 */
.warn-log {
    -fx-text-fill: -color-accent-emphasis;
}

.error-log {
    -fx-text-fill: -color-danger-emphasis;
}

/**
 * Notifications
 */
.notifications {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-alignment: bottom-center;
    -fx-translate-y: -42.0;
    -fx-spacing: 0.416667em;
    -fx-max-width: 28.333333em;
    -fx-min-width: 28.333333em
}

.notification.danger > .container, .notification.warning > .container, .notification.success > .container, .notification.accent > .container {
    -fx-background-radius: 4px, 4px, 4px, 0 4px 4px 0;
}

/**
* Files tree view
 */
.files-tree-view {
    -fx-padding: 0 2 0 0;
}

/**
 * table
 */
.table-view.translations-table {
    -color-cell-bg-selected: -color-accent-1;
    -color-cell-bg-selected-focused: -color-accent-1;
}

.ai-tab {
    -fx-padding: 10px;
}

/**
* Toolbar
 */
.tool-bar {
    -fx-padding: 4px 10px;
}

.tool-bar .button.small {
    -fx-font-size: 0.9em;
}
