/**
Combo
 */
.combo-box-base:showing,
.combo-box-base:editable:showing > .arrow-button {
    -fx-background-color: -default-dark-background-hover;
    -fx-opacity: 0.7;
    -fx-effect: none;
}

.cmb-box, .spinner {
    -fx-background-color: -default-dark-background;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
}

.cmb-box:editable {
    -fx-background-color: transparent;
}

.cmb-box.validatorfx-warning {
    -fx-background-color: transparent;
    -fx-focus-color: -warning-color;
}

.cmb-box.validatorfx-error {
    -fx-background-color: transparent;
    -fx-focus-color: -error-color;
}

.cmb-box:hover, .cmb-box:editable > .arrow-button:hover {
    -fx-background-color: -default-dark-background-hover;
}

.cmb-box > .list-cell {
    -fx-text-fill: -default-font-color;
}

.cmb-box:focused, .spinner:focused, .spinner:contains-focus {
    -fx-background-color: -fx-focus-color, -default-dark-background;
    -fx-background-insets: 0.0, 1.0;
}

.cmb-box:focused:hover, .spinner:focused:hover {
    -fx-background-color: -fx-focus-color, -default-dark-background-hover;
}

.cmb-box:editable > .arrow-button,
.date-picker > .arrow-button {
    -fx-background-color: -default-dark-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0 2 2 0;
}

.cmb-box:editable > .text-field,
.date-picker > .text-field,
.spinner > .text-field {
    -fx-background-color: -text-field-border-color, -text-field-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 2 0 0 2;
}

.cmb-box:editable:focused,
.date-picker:focused {
    -fx-background-color: -fx-focus-color, -default-dark-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 2;
}

.cmb-box:editable:focused > .text-field,
.cmb-box:editable > .text-field:focused,
.date-picker:focused > .text-field,
.date-picker > .text-field:focused,
.spinner:focused > .text-field,
.spinner:contains-focus > .text-field {
    -fx-background-color: -text-field-focus-color, -text-field-color;
    -fx-background-insets: 0.0, 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

.cmb-box:editable:focused > .arrow-button,
.date-picker:focused > .arrow-button {
    -fx-background-color: -fx-focus-color, -default-dark-background;
    -fx-background-insets: 0, 1 1 1 0;
    -fx-background-radius: 0 2 2 0;
}

.cmb-box:editable:focused > .arrow-button:hover,
.date-picker:focused > .arrow-button:hover {
    -fx-background-color: -fx-focus-color, -default-dark-background-hover;
    -fx-background-insets: 0, 1 1 1 0;
    -fx-background-radius: 0 2 2 0;
}

.cmb-box:editable > .arrow-button:armed, .cmb-box:editable > .arrow-button:pressed {
    -fx-opacity: 0.7;
}

.cmb-box:editable:focused:showing > .arrow-button {
    -fx-background-color: -fx-focus-color, -default-dark-background-hover;
    -fx-background-insets: 0, 1 1 1 0;
    -fx-background-radius: 0 2 2 0;
    -fx-opacity: 0.7;
}

.combo-box-popup > .list-view {
    -fx-background-color: -combo-list-view-border-color, -combo-list-view-background-color;
    -fx-padding: 4.0 8.0;
    -fx-effect: -small-shadow-effect;
    -fx-background-radius: 2.0;
    -fx-text-fill: -default-font-color-over-primary;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background: transparent;
    -fx-background-radius: 2.0;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: -default-primary, -default-dark-background;
    -fx-background-insets: 0.0, 1.0;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: -default-primary-hover-border, -fx-selection-bar;
    -fx-background-insets: 0.0, 1.0;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-text-fill: -default-font-color;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-text-fill: -default-font-color-over-primary;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-text-fill: -default-font-color-over-primary;
}