.file-explorer {
    -fx-background-color: -fe-background-color;
    -fx-background-insets: 0;
    -fx-padding: 0 0 1.0em 0;
}

.file-explorer-toolbar {
    -fx-background-color: -fe-toolbar-border-color, -fe-toolbar-background-color;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
    -fx-background-radius: 0.0;
    -fx-spacing: 0.5em;
    -fx-padding: 0 0.6666667em;
    -fx-alignment: center_right;
    -fx-font-size: 1em;
}

.file-explorer-toolbar .file-explorer-toolbar-button {
    -fx-font-size: 1.166667em;
    -fx-padding: 0.166667em 0.416667em;
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

.file-explorer-toolbar .file-explorer-toolbar-button > .ikonli-font-icon {
    -fx-fill: -fe-button-icon-color;
}

.file-explorer-toolbar .file-explorer-toolbar-button:hover {
    -fx-background-color: -fe-button-color-hover;
}

.file-explorer-toolbar .file-explorer-toolbar-button::focus-visible {
    -fx-background-color: -fe-button-color-focus;
}

.file-explorer-toolbar .file-explorer-toolbar-button:armed {
    -fx-opacity: 0.7;
}

