.footer-pane {
    -fx-background-color: -footer-border-color, -footer-background-color;
    -fx-background-insets: 0 0 0 0, 1 0 0 0;
    -fx-background-radius: 0.0;
    -fx-spacing: 0.5em;
    -fx-padding: 0 0.6666667em;
    -fx-alignment: center_left;
    -fx-font-size: 1em;
}

.footer-pane .status-label {
    -fx-background-radius: 0em;
    -fx-text-fill: -status-label-color;
}

.footer-pane .footer-buttons {
    -fx-alignment: center_right;
}

.footer-pane .footer-buttons .footer-button {
    -fx-font-size: 1.416667em;
    -fx-padding: 0.166667em 0.416667em;
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

.footer-pane .footer-buttons .footer-button > .ikonli-font-icon {
    -fx-fill: -footer-button-icon-color;
}

.footer-pane .footer-buttons .footer-button:hover {
    -fx-background-color: -footer-button-color-hover;
}


.footer-pane .footer-buttons .footer-button::focus-visible {
    -fx-background-color: -footer-button-color-focus;
}

.footer-pane .footer-buttons .footer-button:armed {
    -fx-opacity: 0.7;
}