name: build

on: [ push ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, macos-13, windows-latest ]
    name: build ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'liberica'
          java-package: 'jdk+fx'
          cache: 'maven'
      - name: Install gettext and xvfb on Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install -y gettext xvfb

      - name: Install gettext on macOS
        if: matrix.os == 'macos-latest'
        run: brew install gettext

      - name: Build with Maven
        if: matrix.os == 'macos-latest'
        run: mvn --batch-mode --update-snapshots verify

      - name: Install gettext on Windows
        if: matrix.os == 'windows-latest'
        uses: johnwason/vcpkg-action@v6
        id: vcpkg
        with:
          pkgs: wxwidgets gettext[tools]
          triplet: x64-windows
          token: ${{ github.token }}

      - name: Build with Maven
        if: matrix.os == 'ubuntu-latest'
        run: xvfb-run mvn -Djava.awt.headless=true -Dtestfx.robot=glass -Dtestfx.headless=true -Dprism.order=sw --batch-mode --update-snapshots verify
