name: release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  os_matrix:
    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    name: build ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_SUB_SECRET_KEY }}
          passphrase: ${{ secrets.GPG_SUB_SECRET_KEY_PASSWORD }}
          fingerprint: ${{ secrets.GPG_SUB_FINGERPRINT }}
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'liberica'
          java-package: 'jdk+fx'
          cache: 'maven'

      - name: Install gettext on Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install -y gettext

      - name: Install gettext on macOS
        if: matrix.os == 'macos-latest'
        run: brew install gettext

      - name: Install scoop on Windows
        if: matrix.os == 'windows-latest'
        uses: MinoruSekine/setup-scoop@v4

      - name: Install gettext on Windows
        if: matrix.os == 'windows-latest'
        run: scoop install gettext

      - name: Build
        env:
          PDFSAM_GPG_FINGERPRINT: ${{ secrets.GPG_SUB_FINGERPRINT }}
        run: mvn clean install -DskipTests -Drelease --batch-mode
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: |
            autopo-app/target/*.zip
            autopo-app/target/*.tar.gz
            autopo-app/target/*.zip.asc
            autopo-app/target/*.tar.gz.asc

